html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Lato", sans-serif !important;
  font-size: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #141414;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

.validation-error {
  color: #c91e1e;
  text-align: left;
}

textarea {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  resize: none;
}

input {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: inherit;
  padding: 10px;
  width: 100%;
}
input:focus {
  outline: none;
}

*::-webkit-scrollbar {
  background: #000;
  width: 1em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: #494949;
  outline: 1px solid slategrey;
}

/* react slick blue outline */
.slick-slider * {
  outline: none !important;
}
