.sidebar {
  width: 25vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.sidebar a {
  text-decoration: none;
}
.nav-logo {
  height: 30%;
  border-bottom: 2px solid black;
  margin-bottom: 40px;
  padding: 10px 0px;
}

.nav-logo img {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

.nav-link {
  font-size: 25px;
  display: flex;
  padding: 10px 0px;
}

.nav-link:hover {
  background-color: #c91e1e;
}

.nav-link > * {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.sidebar ion-icon {
  font-size: 32px;
  margin-left: 20px;
}
